@page "/view-3"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="view-3-container row">
    <div class="group row">
        <h4 class="h4">View 3 content</h4>
    </div>
</div>

@code {
}
