@page "/view-2"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="view-2-container row">
    <div class="group row">
        <h4 class="h4">View 2 content</h4>
    </div>
</div>

@code {
}
